body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  padding: 40px 80px;
  font-size: 45px;
  font-family: sans-serif;
  text-decoration: none;
  color: #351435;
  border: 5px solid #351435;
  position: relative;
  overflow: hidden;
  transition: 1s;
}
a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #351435;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 1s;
  transform: rotateX(90deg);
}
a:hover:before {
  transform: rotateX(0deg);
}
a:hover {
  color: white;
}

a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #351435;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 1s;
  transform: rotateY(90deg);
}
a:hover:after {
  transform: rotateY(0deg);
}
