body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  padding: 40px 80px;
  font-size: 45px;
  font-family: sans-serif;
  text-decoration: none;
  color: #351435;
  border: 5px solid #351435;
  position: relative;
  overflow: hidden;
  color: transparent;
  transition: 1s;
}
a:before {
  content: "Hover Me";
  position: absolute;
  left: 0;
  top: 0;
  background-color: yellow;
  color: grey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
a:after {
  content: "Hover Me";
  position: absolute;
  left: 0;
  top: 0;
  background-color: yellow;
  color: grey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: translate(-100%, 100%);
}
a:hover:before {
  transform: translate(100%, -100%);
}
a:hover:after {
  transform: translate(0, 0);
}
